<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
	<string>org.gottcode.FocusWriter</string>
	<key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@SHORT_VERSION@</string>
	<key>CFBundleName</key>
	<string>FocusWriter</string>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rtf.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/rtf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSRTFPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>odt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OpenDocument Text document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>txt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
