[Desktop Entry]
Type=Application
Name=FocusWriter
Name[cs]=FocusWriter
Name[da]=FocusWriter
Name[de]=FocusWriter
Name[el]=FocusWriter
Name[en_GB]=FocusWriter
Name[es]=FocusWriter
Name[fi]=FocusWriter
Name[fr]=FocusWriter
Name[he]=FocusWriter
Name[hu]=FocusWriter
Name[hy]=FocusWriter
Name[id]=FocusWriter
Name[ja]=FocusWriter
Name[ko]=포커스 라이터
Name[nl]=FocusWriter
Name[pl]=FocusWriter
Name[pt]=FocusWriter
Name[pt_BR]=FocusWriter
Name[ro]=FocusWriter
Name[sr]=FocusWriter
Name[sv]=FocusWriter
Name[tr]=FocusWriter
Name[vi]=FocusWriter
Name[zh_CN]=FocusWriter
GenericName=Fullscreen Word Processor
GenericName[cs]=Celoobrazovkový editor textu
GenericName[da]=Tekstbehandlingsprogram i fuld skærm
GenericName[de]=Vollbild-Textverarbeitung
GenericName[el]=Επεξεργαστής Κειμένου Πλήρης Οθόνης
GenericName[en_GB]=Full-screen Word Processor
GenericName[es]=Procesador de textos a pantalla completa
GenericName[fi]=Koko näytön tekstinkäsittelyohjelma
GenericName[fr]=Traitement de texte plein écran
GenericName[he]=מעבד תמלילים במסך מלא
GenericName[hu]=Teljesképernyős szövegszerkesztő
GenericName[hy]=Լիէկրան տեքստային խմբագրիչ
GenericName[id]=Layar Penuh
GenericName[ja]=フルスクリーン・ワードプロセッサ
GenericName[ko]=풀스크린 워드 프로세서
GenericName[nl]=Volscherm tekstverwerker
GenericName[pl]=Pełnoekranowy edytor tekstów
GenericName[pt]=Processador de textos em ecrã completo
GenericName[pt_BR]=Processador de texto em tela cheia
GenericName[ro]=Procesor de text pe tot ecranul
GenericName[sr]=Обрађивач текста у пуном екрану
GenericName[sv]=Ordbehandlare med helskärmsläge
GenericName[tr]=Tam Ekran Kelime İşlemci
GenericName[vi]=Phần mềm soạn thảo văn bản dạng toàn màn hình
GenericName[zh_CN]=全屏文本编辑器
Comment=Write without distractions
Comment[cs]=Pište bez rozptylování
Comment[da]=Skriv uden at blive distraheret
Comment[de]=Schreibe ohne Ablenkung
Comment[el]=Γράψτε χωρίς ενόχληση
Comment[en_GB]=Write without distractions
Comment[es]=Escriba sin distracciones
Comment[fi]=Kirjoita ilman häiriötekijöitä
Comment[fr]=Écrivez sans distractions
Comment[he]=כתיבה ללא הסחות דעת
Comment[hu]=Írjon zavartalanul
Comment[hy]=Գրիր առանց ուշադրության շեղման
Comment[id]=Menulis tanpa gangguan
Comment[ja]=気を散らすことなく集中して文章を書けるワードプロセッサです
Comment[ko]=타이핑하는 부분에 집중해서 글을 쓸 수 있는
Comment[nl]=Schrijf zonder afleiding
Comment[pl]=Pisz bez zakłóceń
Comment[pt]=Escreva sem distrações
Comment[pt_BR]=Escreva sem distrações
Comment[ro]=Scrieţi fără distrageri
Comment[sr]=Пишите без ометања
Comment[sv]=Skriv utan distraktioner
Comment[tr]=Dikkat dağıtıcılar olmadan yazın
Comment[vi]=Không tạo sự xao nhãng khi viết
Comment[zh_CN]=专心致志地写作
Icon=focuswriter
TryExec=focuswriter
Exec=focuswriter %F
Terminal=false
MimeType=application/rtf;application/vnd.oasis.opendocument.text;text/plain;text/rtf;
Categories=Qt;Office;WordProcessor;
