[Desktop Entry]
Type=Application
Name=FocusWriter
Name[af_ZA]=FocusWriter
Name[bs]=FocusWriter
Name[cs]=FocusWriter
Name[da]=FocusWriter
Name[de]=FocusWriter
Name[el]=FocusWriter
Name[en_GB]=FocusWriter
Name[eo]=FocusWriter
Name[es]=FocusWriter
Name[es_MX]=FocusWriter
Name[fi]=FocusWriter
Name[fr]=FocusWriter
Name[gl]=FocusWriter
Name[he]=FocusWriter
Name[hu]=FocusWriter
Name[hy]=FocusWriter
Name[id]=FocusWriter
Name[ig]=FocusWriter
Name[it]=FocusWriter
Name[ja]=FocusWriter
Name[ko]=포커스 라이터
Name[lt]=FocusWriter
Name[nl]=FocusWriter
Name[pl]=FocusWriter
Name[pt]=FocusWriter
Name[pt_BR]=FocusWriter
Name[ro]=FocusWriter
Name[ru]=FocusWriter
Name[sk]=FocusWriter
Name[sl]=FocusWriter
Name[sr]=FocusWriter
Name[sv]=FocusWriter
Name[tr]=FocusWriter
Name[uk]=FocusWriter
Name[vi]=FocusWriter
Name[zh_CN]=FocusWriter
Name[zh_TW]=焦點作家
GenericName=Fullscreen Word Processor
GenericName[af_ZA]=Volskerm woordverwerker
GenericName[bs]=Aplikacija za rad s tekstom na punom ekranu
GenericName[cs]=Celoobrazovkový editor textu
GenericName[da]=Tekstbehandlingsprogram i fuld skærm
GenericName[de]=Vollbild-Textverarbeitung
GenericName[el]=Επεξεργαστής Κειμένου σε Πλήρης Οθόνη
GenericName[en_GB]=Full-screen Word Processor
GenericName[eo]=Plenekrana Tekstoprilaborilo
GenericName[es]=Procesador de texto a pantalla completa
GenericName[es_MX]=Procesador de palabras en pantalla completa
GenericName[fi]=Koko näytön tekstinkäsittelyohjelma
GenericName[fr]=Traitement de texte plein écran
GenericName[gl]=Procesador de texto a pantalla completa
GenericName[he]=מעבד תמלילים במסך מלא
GenericName[hu]=Teljesképernyős szövegszerkesztő
GenericName[hy]=Լիէկրան տեքստային խմբագրիչ
GenericName[id]=Layar Penuh
GenericName[it]=Elaboratore di testi a schermo intero
GenericName[ja]=フルスクリーン・ワードプロセッサ
GenericName[ko]=풀스크린 워드 프로세서
GenericName[lt]=Viso ekrano žodžių doroklė
GenericName[nl]=Schermvullende tekstverwerker
GenericName[pl]=Pełnoekranowy edytor tekstów
GenericName[pt]=Processador de texto em ecrã completo
GenericName[pt_BR]=Processador de texto em tela cheia
GenericName[ro]=Procesor de text pe tot ecranul
GenericName[ru]=Полноэкранный текстовый редактор
GenericName[sk]=Celoobrazovkový textový editor
GenericName[sl]=Polnozaslonski urejevalnik besedila
GenericName[sr]=Обрађивач текста у пуном екрану
GenericName[sv]=Ordbehandlare med helskärmsläge
GenericName[tr]=Tam Ekran Kelime İşlemci
GenericName[uk]=Повноекранний текстовий редактор
GenericName[vi]=Phần mềm soạn thảo văn bản dạng toàn màn hình
GenericName[zh_CN]=全屏文本编辑器
GenericName[zh_TW]=全螢幕的文字處理器
Comment=Write without distractions
Comment[af_ZA]=Skryf sonder afleidings
Comment[bs]=Pišite bez ometanja
Comment[cs]=Pište bez rozptylování
Comment[da]=Skriv uden at blive distraheret
Comment[de]=Schreibe ohne Ablenkung
Comment[el]=Γράψτε χωρίς ενόχληση
Comment[en_GB]=Write without distractions
Comment[eo]=Skribu sen malatentigoj
Comment[es]=Escriba sin distracciones
Comment[es_MX]=Escriba sin distractores
Comment[fi]=Kirjoita ilman häiriötekijöitä
Comment[fr]=Écrivez sans distractions
Comment[gl]=Escribe sen distracións
Comment[he]=כתיבה ללא הסחות דעת
Comment[hu]=Írjon zavartalanul
Comment[hy]=Գրիր առանց ուշադրության շեղման
Comment[id]=Menulis tanpa gangguan
Comment[it]=Scrivi senza distrazioni
Comment[ja]=気を散らすことなく集中して文章を書けるワードプロセッサです
Comment[ko]=글쓰기에 집중할 수 있는 
Comment[lt]=Rašykite be blaškymosi
Comment[nl]=Schrijf zonder afgeleid te worden
Comment[pl]=Pisz bez zakłóceń
Comment[pt]=Escreva sem distrações
Comment[pt_BR]=Escreva sem distrações
Comment[ro]=Scrieţi fără distrageri
Comment[ru]=Писать не отвлекаясь
Comment[sk]=Písať bez rozptýlenia
Comment[sl]=Pišite brez motenj
Comment[sr]=Пишите без ометања
Comment[sv]=Skriv utan distraktioner
Comment[tr]=Dikkat dağıtıcılar olmadan yazın
Comment[uk]=Писати не відволікаючись
Comment[vi]=Không tạo sự xao nhãng khi viết
Comment[zh_CN]=专心致志地写作
Comment[zh_TW]=不受干擾的專心寫作
Icon=focuswriter
TryExec=focuswriter
Exec=focuswriter %F
Terminal=false
MimeType=application/rtf;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-flat-xml;application/vnd.openxmlformats-officedocument.wordprocessingml.document;text/plain;text/rtf;
Categories=Qt;Office;WordProcessor;
Keywords=fullscreen;editor;typewriter;keyclick;distraction;concentration;focused;monomaniacal;writing;
